/BetterDiscord Installer
/BraveSoftware
/Code
/Mullvad VPN
/QtProject.conf
/VirtualBox
/alacritty
/awesome
/btop
/cef_user_data
/configstore
/dconf
/discord
/flameshot
/font-manager
/fontconfig
/gtk-2.0
/gtk-3.0
/htop
/kitty
/libfm
/lxterminal
/menus
/mimeapps.list
/mpv
/neofetch
/nitrogen
/obs-studio
/pavucontrol.ini
/pcmanfm
/peazip
/pulse
/qBittorrent
/qt5ct
/qtile
/sublime-text
/tabby
/volumeicon
/discordcanary
/aseprite
/Badlion Client
/BadlionClient
/flashpoint-launcher
/freezer
/lunarclient
/Pinta
/openttd
/spotify
/filezilla
/lutris
/balena-etcher
/coc
/ftb-app
/JetBrains
/oni
/geany
/gedit
/github-copilot
/VSCodium
/waybar
/qutebrowser
/contour
/joplin